.Dropdown {
  position: relative;

  &__Trigger {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
  }

  &__MenuItem {
    width: 100%;
    text-align: start;
    outline: none;

  }

  &__Menu {
    z-index: 100;
    position: absolute;
    left: 50%;
    translate: -50%;
    top: 100%;
    width: max-content;
    max-height: 400px;
    transform: scaleY(0);
    visibility: hidden;
    transform-origin: top;
    transition: transform 0.2s linear, visibility 0.3s linear;



    &--open {
      transform: scaleY(1);
      visibility: visible;
    }
  }
}