.roundBtn {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  // background-color: var(--pallete_blocks);
  transition: background-color 0.4s ease;

  @media (max-width:576px) {
    width: clamp(1.875rem, 0.313rem + 7.813vw, 3.125rem);
    height: clamp(1.875rem, 0.313rem + 7.813vw, 3.125rem);
  }

  &--green {
    background-color: var(--pallete_accent2);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--accent2_effect);
    }
  }

  &--inactive {
    background-color: var(--pallete_blocks);
    pointer-events: none;
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 16px;
    height: 2px;
    background-color: var(--pallete_bg);
  }

  &::after {
    rotate: 90deg;
  }


}