.TaskItem {
  position: relative;
  padding: 15px 10px;
  display: flex;
  align-items: center;

  &--active {
    background-color: var(--greyF4);
  }

  &__TomatoesCount {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 100%;
    border: 1px solid var(--pallete_blocks);
    text-align: center;
    line-height: 150%;
  }

  &__NameLabel {
    margin-right: auto;
    position: relative;
    transition: opacity 1.5s linear;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      translate: 0 -50%;
      height: 0.5px;
      background-color: var(--pallete_text);
    }

    &::after {
      content: '🖋️';
      position: absolute;
      bottom: 100%;
      translate: 0 50%;
      left: 0;
      opacity: 0;
    }
  }

  &__Name {

    // margin-right: auto;

    &:disabled {
      opacity: 1;
      border: none;
      outline: none;
      background: none;
    }
  }

  &__ErrorMessage {
    color: var(--pallete_accent1);
    font-size: 0.65rem;
    position: absolute;
    top: 5px;
    left: 45px;
  }

  &--done {
    pointer-events: none;

    .TaskItem__NameLabel {
      opacity: 0.5;

      &::before {

        animation: line 1s linear forwards;
      }

      &::after {
        animation: pen 1s linear forwards;
      }
    }
  }
}

//appear task anim
li:has(> .TaskItem) {
  opacity: 0;
  animation: appearTask 0.4s linear forwards;
}

@keyframes appearTask {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

//delete task anim
li:has(> .TaskItem--done) {
  translate: -100vw;
  transition: translate 0.5s linear 1s;
}

// cross out with pen animation
@keyframes pen {
  0% {
    opacity: 0;
    left: 0;
  }

  1% {
    opacity: 1;
  }

  98% {
    opacity: 1;
    left: 100%;
  }

  100% {
    opacity: 0;
    left: 100%;
  }
}

@keyframes line {
  0% {
    width: 0;
  }

  100% {
    width: calc(100%);
  }
}

.TaskMenu {
  &__Trigger {
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 100%;
    display: flex;
    // gap: 4px;
    justify-content: space-around;
    align-items: center;
    transition: box-shadow 0.3s linear, background-color 0.3s linear;

    span,
    &::before,
    &::after {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: var(--pallete_blocks);
      transition: background-color 0.3s linear;
    }

    &:focus,
    &[aria-expanded="true"] {
      box-shadow: 0px 0px 2px 2px var(--pallete_blocks);
    }

    &:hover:not(:focus) {
      background-color: var(--pallete_blocks);

      span,
      &::before,
      &::after {
        background-color: var(--pallete_bg);
      }
    }
  }

  &__List {
    --border-width: 1px;
    top: 150%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 7px;
    padding-bottom: 7px;
    border: var(--border-width) solid var(--pallete_blocks);
    background-color: var(--pallete_bg);

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      translate: -50%;
      width: 12px;
      height: var(--border-width);
    }

    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      bottom: 100.5%;
      left: 50%;
      translate: -50% 50%;
      width: 7%;
      aspect-ratio: 1/1;
      rotate: 45deg;
      background-color: var(--pallete_bg);
      border: solid var(--pallete_blocks);
      border-width: var(--border-width) 0 0 var(--border-width);
    }
  }

  &__Item {
    padding: 0;
    padding: 9px 15px;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--grey99);
    transition: background-color 0.3s ease;

    svg {
      margin-right: 10px;
    }

    &:hover,
    &:focus {
      background-color: var(--greyF4);
    }
  }
}