.mainBtn {
  padding: 19px 50px;
  font-weight: 500;
  font-size: var(--font16);
  border: 1px solid;
  background-color: var(--pallete_bg);
  transition: color 0.4s ease, background-color 0.4s ease;

  @media (max-width:576px) {
    padding: 10px 25px;
    // font-size: 0.8rem;
  }

  &--green {
    background-color: var(--pallete_accent2);
    border-color: var(--pallete_accent2);
    color: var(--pallete_bg);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--accent2_effect);
    }
  }

  &--red {
    border-color: var(--pallete_accent1);
    color: var(--pallete_accent1);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--pallete_accent1);
      color: var(--pallete_bg);
    }
  }

  &--inactive {
    border-color: var(--pallete_blocks);
    color: var(--pallete_blocks);
  }

  &--redFull {
    color: var(--pallete_bg);
    background-color: var(--pallete_accent1);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--accent1_hover);
    }
  }
}