.TaskForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;

  &-Field {
    padding: 19px 15px;
    width: 100%;
    border: none;
    background-color: var(--greyF4);
    outline: none;
    transition: box-shadow 0.4s ease, background-color 0.4s ease;

    &:focus {
      box-shadow: 0px 0px 4px var(--grey99);
    }

    &:hover {
      background-color: var(--greyE5);
    }
  }
}