.TaskItem {
  position: relative;
  padding: 15px 10px;
  display: flex;
  align-items: center;

  &--active {
    background-color: var(--greyF4);
  }

  &__TomatoesCount {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 100%;
    border: 1px solid var(--pallete_blocks);
    text-align: center;
    line-height: 150%;
  }

  &__Name {

    margin-right: auto;

    &:disabled {
      opacity: 1;
      border: none;
      outline: none;
      background: none;
    }
  }

  &__ErrorMessage {
    color: var(--pallete_accent1);
  }
}

.TaskMenu {
  &__Trigger {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    gap: 4px;
    align-items: center;

    span,
    &::before,
    &::after {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: var(--pallete_blocks);
    }
  }



  // &__TriggerInner {
  //   display: flex;
  //   gap: 10px;
  // }

  &__List {}

  &__Item {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }
}