.Timer {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--greyF4);

  @media (max-width:576px) {
    min-height: 200px;
    padding-bottom: 25px;
  }

  &__Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 19px 40px;
    background-color: var(--pallete_blocks);
    color: var(--pallete_bg);
    font-weight: 600;
    font-size: 1rem;
    line-height: 100%;

    @media (max-width:576px) {
      padding: 15px 25px;
      font-weight: 400;
    }
  }

  &__TaskName {
    font: inherit;
  }

  &__TomatoCounter {}

  &__TimeBlock {
    margin-top: auto;
    display: flex;
    gap: 25px;
    align-items: center;
  }

  &__Time {
    font-weight: 200;
    font-size: 9.375rem;
    line-height: 150%;

    @media (max-width:576px) {
      line-height: 130%;
      font-size: clamp(3rem, -0.75rem + 18.75vw, 6rem);
      // font-size: clamp(3.75rem, -3.281rem + 35.156vw, 9.375rem);
    }
  }

  &__Descr {
    margin-bottom: 32px;

    span {
      color: var(--grey99);
    }

    @media (max-width:576px) {
      margin-bottom: 20px;
    }
  }

  &__Controls {
    margin-bottom: auto;
    display: inline-flex;
    gap: 25px;
  }

  &--working {
    .Timer__Header {
      background-color: var(--pallete_accent1);
    }

    .Timer__Time {
      color: var(--pallete_accent1);
    }
  }

  &--breaking {
    .Timer__Header {
      background: var(--pallete_accent2);
    }

    .Timer__Time {
      color: var(--pallete_accent2);
    }
  }

  &--paused {
    .Timer__Time {
      color: var(--pallete_text);
    }
  }
}