.TimerPage {
  padding-top: 50px;
  padding-bottom: 300px;
  display: grid;
  grid-template-columns: 42.734375% 57.265625%;
  row-gap: 25px;
  column-gap: 18px;

  // &__Descr {}

  &__Timer {
    grid-row: 1/4;
    grid-column: 2/3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .SpeakingTomato {
      width: 70%;
      aspect-ratio: 1/1;
    }
  }

  &__Form {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  &__Tasks {
    grid-row: 3/4;
    grid-column: 1/2;

  }

  &__List {
    margin-bottom: 20px;
  }

  &__TotalSum {
    font-size: 1rem;
    line-height: 94.117647%;
    /* 16/17 */
    color: var(--grey99);
  }
}

.Descr {

  &__Title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.375;
  }

  &__List {
    margin: 0;
    padding-left: 20px;
    max-width: 508px;
    box-sizing: border-box;
  }

  &__Item {
    font-weight: 400;
    font-size: 1rem;
    line-height: 2.0625;

    &::marker {
      color: var(--pallete_accent1);

    }
  }
}