.StatisticSelect {


  &__Trigger {
    position: relative;
    width: 100%;
    text-align: start;

    &::after {
      position: absolute;
      content: '';
      right: 15px;
      top: 50%;
      translate: 0 -50%;
      rotate: 45deg;
      width: 10px;
      height: 10px;
      border: solid var(--pallete_accent1);
      border-width: 0 1px 1px 0;
      transition: rotate 0.3s linear;

    }

    &[aria-expanded="true"] {
      &::after {
        rotate: -135deg;
      }
    }

  }

  &__List {
    left: unset;
    translate: unset;
    right: 0;
    width: 100%;
  }

  &__Item {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    border: solid #DEDEDE;
    border-width: 1px 0 1px 0;
    transition: background-color 0.3s ease;

    &:not(:last-child) {
      border-width: 1px 0 0 0;
    }

    &[data-selected="true"] {
      display: none;
    }

    &:hover,
    &:focus {
      background-color: var(--greyE5);
    }
  }

  &__Trigger,
  &__Item {
    padding: 19px 15px;
    background-color: var(--greyF4);
    font-size: var(--font16);
  }
}