.TotalTime {
  padding: 25px;
  min-height: 260px;
  height: 100%;
  background-color: var(--greyF4);

  @media (max-width:920px) {
    min-height: 200px;
    ;
  }

  &__Title {
    margin-bottom: 14px;
    font-size: var(--font24);
    line-height: 1.375;
  }

  &__Descr {
    font-weight: 400;
    font-size: var(--font16);
    line-height: 1.75;

    span {
      color: var(--pallete_accent1);
      font-weight: 700;
    }
  }
}