.header {
  padding: 15px 0;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 205px;
    height: 40px;
  }
}

.nav {

  &__link {
    color: #DC3E22;

    &.active {
      color: blue
    }
  }
}