.Header {
  position: relative;
  padding: 15px 0;
  background-color: var(--pallete_bg);
  box-shadow: 0px 5px 35px 0px #969595ae;
  // box-shadow: 0px 13px 43px 0px rgba(0, 0, 0, 0.75);

  &__Container {
    display: flex;
    align-items: center;
  }

  &__Logo {
    width: 205px;
    height: 40px;
    margin-right: auto;
  }
}

.Nav {
  margin-right: 60px;

  &__Link {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: var(--pallete_accent1);

    &:not(:last-child) {
      margin-right: 25px;
    }

    svg {
      width: 16px;
      fill: var(--pallete_accent1);
    }

    &.active {
      color: var(--accent1_click);

      svg {
        fill: var(--accent1_click);
      }
    }
  }
}

.Main {
  // background-image: linear-gradient(to bottom, var(--greyF4), var(--pallete_bg));
  background-color: var(--pallete_bg);
}

.AppSettings {
  // &__Trigger {
  //   position: relative;
  //   width: 30px;
  //   height: 30px;

  //   svg {
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     translate: -50% -50%;
  //     fill: var(--pallete_accent1);
  //   }

  //   &--active {
  //     svg {
  //       fill: var(--accent1_click);
  //     }
  //   }
  // }
}