@import '../node_modules/normalize.css/normalize.css';

:root {
  --pallete_accent1: #DC3E22;
  --pallete_accent2: #A6B352;
  --pallete_bg: #ffffff;
  --pallete_text: #333333;
  --pallete_blocks: #c4c4c4;

  --accent1_disabled: hsl(from var(--pallete_accent1) h s 70%);
  --accent1_hover: hsl(from var(--pallete_accent1) h s 77%);
  --accent1_click: hsl(from var(--pallete_accent1) h s 39%);

  --accent2_effect: hsl(from var(--pallete_accent2) h 39% 42%);

  --greyE5: hsl(from var(--pallete_blocks) h s 90%);
  --greyF4: hsl(from var(--pallete_blocks) h s 96%);
  --grey99: hsl(from var(--pallete_blocks) h s 60%);
}

[data-theme="inverted"] {
  --pallete_accent1: #23c1dd;
  --pallete_accent2: #594cad;
  --pallete_bg: #000000;
  --pallete_text: #cccccc;
  --pallete_blocks: #3b3b3b;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  object-fit: cover;
  max-width: 100%;
}

body {
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 400;
  background-color: var(--pallete_bg);
}

.mg-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

[role="button"],
.btn-reset {
  -webkit-tap-highlight-color: transparent;
}