@import '../node_modules/normalize.css/normalize.css';

:root {
  --font24: clamp(1rem, 2.8vw - 0.7rem, 1.5rem);
  --font64: clamp(2rem, 11.1vw - 4.9rem, 4rem);
}

:root[data-theme="default"] {
  --pallete_accent1: #DC3E22;
  --pallete_accent2: #A6B352;
  --pallete_bg: #ffffff;
  --pallete_text: #333333;
  --pallete_blocks: #c4c4c4;

  --accent1_disabled: hsl(from var(--pallete_accent1) h s 70%);
  --accent1_hover: hsl(from var(--pallete_accent1) h s 77%);
  --accent1_click: hsl(from var(--pallete_accent1) h s 39%);

  --accent2_effect: hsl(from var(--pallete_accent2) h 39% 42%);

  --greyE5: #E5E5E5;
  --greyF4: #F4F4F4;
  --grey99: #999999;


  --focus_block_bg: #FFDDA9;
  --focus_svg_stroke: #FFAE35;
  --pause_block_bg: #DFDCFE;
  --pause_svg_stroke: #9C97D7;
  --stop_block_bg: #C5F1FF;
  --stop_svg_stroke: #7FC2D7;


}

:root[data-theme="inverted"] {
  --pallete_accent1: #23c1dd;
  --pallete_accent2: #594cad;
  --pallete_bg: #000000;
  --pallete_text: #ffffff;
  --pallete_blocks: #3b3b3b;

  --greyE5: #1a1a1a;
  --greyF4: #bbbbbb;
  --grey99: #666666;

  --focus_block_bg: #002256;
  --focus_svg_stroke: #0051ca;
  --pause_block_bg: #202311;
  --pause_svg_stroke: #636828;
  --stop_block_bg: #3aee00;
  --stop_svg_stroke: #803d28;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  object-fit: cover;
  max-width: 100%;
}

body {
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 400;
  background-color: var(--pallete_bg);
}

.mg-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

[role="button"],
.btn-reset {
  -webkit-tap-highlight-color: transparent;
}