.SettingsForm {

  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__Theme,
  &__Notifications {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__Notifications {
    margin-bottom: 20px;
  }

  &__Name {
    font-weight: 600;
    font-size: var(--font16);
    line-height: 1.0625;
    color: var(--grey99);
  }

  .Field__Placeholder {
    font-weight: 600;
  }

  .Field__Error {
    font-size: 0.85rem;
    bottom: 60%;
  }
}

.Switcher {
  &__FieldWrap {
    position: relative;
    padding-left: 40px;
    cursor: pointer;

    span {
      position: relative;
      font-weight: 300;
      font-size: var(--font16);
      line-height: 1.0625;
      color: var(--grey99);

      &::before,
      &::after {
        position: absolute;
        right: 110%;
        top: 50%;

        content: '';
      }

      &::after {
        z-index: 10;
        width: calc(15px * 0.8);
        aspect-ratio: 1/1;
        border-radius: 100%;
        box-shadow: inset 0.5px -1px 1px rgba(0, 0, 0, 0.35);
        background: #fff;
        translate: -17px -50%;
        transition: translate 0.4s ease;
      }

      &::before {
        translate: 0 -50%;
        width: 30px;
        height: 15px;
        border-radius: 20px;
        background-color: var(--pallete_accent1);
        box-shadow: inset 0px 2px 4px -2px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px rgba(151, 151, 151, 0.2);
        transition: background-color 0.4s ease;
      }
    }


  }

  &__Field {
    position: absolute;
    appearance: none;
    scale: 0;

    &:checked+span::before {
      background-color: var(--pallete_accent2);
    }

    &:checked+span::after {
      translate: -2px -50%;
    }
  }
}