.TomatoesCount {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 180px;
  width: 100%;
  background-color: var(--greyF4);
  ;

  &__Pic {
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 15px;

    span {
      color: var(--grey99);
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.375;
    }
  }

  &__Footer {
    width: 100%;
    padding: 9px;
    color: var(--pallete_bg);
    background-color: var(--pallete_accent1);
    font-weight: 700;
    font-size: var(--font24);
    line-height: 1.375;
    text-align: center;
  }
}